<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "appt/padre.html"%}

    {% load static %}

    {% block contenidoQueCambia %}
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Pedi tu turno!</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Nos dedicamos a brindar atención médica de la más alta calidad a nuestros pacientes, con un enfoque centrado en la compasión, el respeto y la excelencia profesional. Contamos con un equipo de profesionales de la salud altamente capacitados que están comprometidos a proporcionar un cuidado integral y personalizado.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">Utilizando las últimas tecnologías y tratamientos innovadores. Nuestra misión es mejorar la salud y el bienestar de nuestra comunidad a través de un enfoque preventivo y terapéutico, asegurando un entorno seguro y acogedor para todos nuestros  pacientes y sus familias.</p></div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i>
                    Volver a inicio
                </a>
            </div>
        </div>
    </section>
         {% endblock %}
</body>
</html>